In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("heart.csv")
df.head(15)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0
10,37,F,NAP,130,211,0,Normal,142,N,0.0,Up,0
11,58,M,ATA,136,164,0,ST,99,Y,2.0,Flat,1
12,39,M,ATA,120,204,0,Normal,145,N,0.0,Up,0
13,49,M,ASY,140,234,0,Normal,140,Y,1.0,Flat,1
14,42,F,NAP,115,211,0,ST,137,N,0.0,Up,0

In [6]:
# Kategorik özellikler
categorical_columns = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

# Veri çerçevesinin bir kopyasını al
df_encoded = df.copy()

# Label Encoding işlemi
label_encoders = {}
for col in categorical_columns:
    le = LabelEncoder()
    df_encoded[col] = le.fit_transform(df_encoded[col])  # Kategorik veriyi sayısal verilere dönüştür
    label_encoders[col] = le  # LabelEncoder'ı sakla

# X ve y oluşturuluyor
X = df_encoded.drop(columns=["HeartDisease"]).values.astype(float)  
y = df_encoded["HeartDisease"].values.astype(float)

# Veri çerçevesini bir CSV dosyasına kaydet
df_encoded.to_csv("encoded_data.csv", index=False)

print("Label encoding işlemi tamamlandı ve veri kaydedildi.")

Label encoding işlemi tamamlandı ve veri kaydedildi.

In [10]:
df = pd.read_csv("encoded_data.csv")
df.head(15)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
5,39,1,2,120,339,0,1,170,0,0.0,2,0
6,45,0,1,130,237,0,1,170,0,0.0,2,0
7,54,1,1,110,208,0,1,142,0,0.0,2,0
8,37,1,0,140,207,0,1,130,1,1.5,1,1
9,48,0,1,120,284,0,1,120,0,0.0,2,0
10,37,0,2,130,211,0,1,142,0,0.0,2,0
11,58,1,1,136,164,0,2,99,1,2.0,1,1
12,39,1,1,120,204,0,1,145,0,0.0,2,0
13,49,1,0,140,234,0,1,140,1,1.0,1,1
14,42,0,2,115,211,0,2,137,0,0.0,2,0